main {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.container {
    display: flex;
    gap: 5rem;
    margin-bottom: 15px;
}

.heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.heading h1 {
    line-height: 0px;
}
.heading p {
    line-height: 0px;
    color: #3d3d3d;
}

.cipher {
    font-size: 32px;
    line-height: 40px;
}
.decryptText {
    font-size: 24px;
    font-weight: bold;
}

.decryptInputContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
}

.decryptInputContainer input {
    padding: 10px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    padding: 10px;
    font-size: 18px;
    line-height: 26px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.correct, .incorrect {
    font-size: 18px;
    font-weight: bold;
}

.correctAnswerDiv {
    display: flex;
    flex-direction: column;
}
.correctAnswerDiv p {
    margin: 10px 0;
}
.correctAnswerDiv p:nth-child(2) {
    margin-bottom: 30px;
}

.startGame {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
}

.startBtn, .stopBtn {
    padding: 10px;
    font-size: 16px;
    line-height: 26px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.startBtn {
    background-color: green;
    color: white;
}
.stopBtn {
    background-color: red;
    color: white;
}

.numbers {
    font-size: 24px;
    font-weight: bold;
}

.highscoreData {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.wonText {
    color: green;
}
.loseText {
    color: red;
}